# Dependencies
node_modules/

# Environment files
.env
*.env

# OS files
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Logs
*.log
npm-debug.log*

# Build
dist/
build/
